<div id='about-frame'>
    <img src='https://i.imgur.com/uRBsNIP.jpg' />
    <div id='about'>
        <p>Caitlyn Sun is a designer with a passion for conceptualizing products with an efficient user experience. Currently employed at MetLife, she has utilized her skills to streamline processes and reduce human error in the many areas her department manages.</p>
        <p>Caitlyn is also a violinist of the Central Jersey Symphony Orchestra, and owns a Pembroke Welsh Corgi, Miso! Other hobbies include playing video games and logic games and knitting.</p>
        <p><i>Photograph: Caitlyn at Gudetama Cafe in Taipei, Taiwan!</i></p>

        <div id='contact'>
            <p><b>Ways to contact Caitlyn Sun:</b></p>
            <ul>
                <li><a href='mailto:caitlyn.y.sun@gmail.com'><img src='https://i.imgur.com/OTVfizQ.png' /> caitlyn.y.sun@gmail.com</a></li>
                <li><a target="_blank" href='https://www.linkedin.com/in/csunworks/'><img src='https://i.imgur.com/nJCwacx.png' /> csunworks</a></li>
                <li><a target="_blank" href='https://www.instagram.com/misosouperdog/'><img src='https://i.imgur.com/6fFTdYm.png' /> misosouperdog</a></li>
            </ul>
        </div>
    </div>
</div>