// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

header {
    position: absolute;
    top: 0;
    z-index: 2;
    background: #a9dbf0;
    width: 100%;
    padding: 20px 60px;
}

header h1 {
    float: left;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav li {
    float: left;
    margin-left: 25px;
    margin-top: 15px;
    font-weight: bold;
    text-align: right;
}

#portfolio {
    background: url('https://lh3.googleusercontent.com/pw/AM-JKLV8CJFyzOWJamgWipfpBOF9YTPgBeDAykVrqjHQ0iRQOEt6SBPh-oMqM_-ZDd6VMHYWW4y-lchcuKr3lmUYGtYP9xSpvMHlyMI4fS6ArHcQky4BCebRUOzkPmD8Sx-rAMZ00uGOE1N6cKEDlyblR31D=w1368-h913-no?authuser=0');
    background-size: auto auto;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 180px 20px;
    background-position: center;
}

#intro {
    position: relative;
    left: 20%;
    top: 7%;
    height: 180px;
    width: 450px;
    max-width: 70%;
}

#intro h3 {
    background: rgba(29,48,62,.8);
    padding: 20px;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
}

#button {
    background: rgba(29,48,62,.8);
    padding: 10px;
    color: white;
    width: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
}

footer {
    text-align: right;
    background: #a9dbf0;
    padding: 20px 60px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

footer img {
    width: 30px;
    height: 30px;
}