// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    margin: 0;
    padding: 0;
}

header {
    clear: both;
    background: #a9dbf0;
    width: 100%;
    height: 100px;
    position: relative;
}

header h1 {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

nav {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav li {
    float: left;
    margin-left: 25px;
    margin-top: 15px;
    font-weight: bold;
    text-align: right;
}

nav a {
    color: black;
    text-decoration: none;
}

body {
    clear: both;
}

#portfolio {
    background: url('https://lh3.googleusercontent.com/pw/AM-JKLV8CJFyzOWJamgWipfpBOF9YTPgBeDAykVrqjHQ0iRQOEt6SBPh-oMqM_-ZDd6VMHYWW4y-lchcuKr3lmUYGtYP9xSpvMHlyMI4fS6ArHcQky4BCebRUOzkPmD8Sx-rAMZ00uGOE1N6cKEDlyblR31D=w1368-h913-no?authuser=0');
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    background-position: right center;
}

#intro {
    position: relative;
    left: 20%;
    top: 7%;
    height: 180px;
    width: 450px;
    max-width: 70%;
}

#intro h3 {
    background: rgba(29,48,62,.8);
    padding: 20px;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
}

#button {
    background: rgba(29,48,62,.8);
    padding: 10px;
    color: white;
    width: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
}

#button a {
    color: white;
    text-decoration: none;
}

footer {
    clear: both;
    text-align: right;
    background: #a9dbf0;
    padding: 20px 60px;
    width: 100%;
}

footer img {
    width: 30px;
    height: 30px;
}

#top {
    background: url('https://lh3.googleusercontent.com/pw/AM-JKLV8CJFyzOWJamgWipfpBOF9YTPgBeDAykVrqjHQ0iRQOEt6SBPh-oMqM_-ZDd6VMHYWW4y-lchcuKr3lmUYGtYP9xSpvMHlyMI4fS6ArHcQky4BCebRUOzkPmD8Sx-rAMZ00uGOE1N6cKEDlyblR31D=w1454-h969-no?authuser=0');
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
}

#gallery {
    width: 100%;
    position: relative;
    text-align: center;
}

.work {
    width: 50%;
    float: left;
    position: relative;
    margin-bottom: 20px;
}

.title-frame {
    background: rgba(27, 43, 97, 0.8);
    padding: 30px;
    position: absolute;
    top: 30px;
    left: 20px;
    color: white;
    z-index: 100;
}

.title {
    font-weight: bold;
    font-size: 14pt;
}

.img-frame {
    width: 80%;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.img-frame img {
    min-width: 100%;
    max-height: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
